<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shipping_category.name %>
</p>

<%= link_to 'Edit', edit_shipping_category_path(@shipping_category) %> |
<%= link_to 'Back', shipping_categories_path %>
